[submodule "flutter-darmstadt-01-animations-everywhere"]
	path = flutter-darmstadt-01-animations-everywhere
	url = https://github.com/ahawlitschek/flutter-darmstadt-01-animations-everywhere.git
[submodule "flutter-darmstadt-02-complex-layouts"]
	path = flutter-darmstadt-02-complex-layouts
	url = https://github.com/ahawlitschek/flutter-darmstadt-02-complex-layouts.git
[submodule "flutter-darmstadt-03-bloc-alternative"]
	path = flutter-darmstadt-03-bloc-alternative
	url = https://github.com/marius-h/stacked_meetup
